.featured{
    flex: 2;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 10px;
    .top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            font-size: 18px;
            color:#888;
        }
    }
    .bottom{
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .featuredChart{
            width: 100px;
            height: 100px;
        }
        .title{
            font-weight: 500;
            color: #888;
        }
        .amount{
            font-size: 30px;
        }
        .desc{
            font-weight: 300;
            color: #888;
            font-size: 12px;
            text-align: center;
        }
        .summary{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            .item{
                text-align: center;

                .itemTitle{
                    color: #888;
                    font-size: 14px;
                }
                .itemResult{
                    display: flex;
                    align-items: center;
                    margin-top: 10px;
                    font-size: 14px;
                    &.positive{
                        color: green;
                    }
                    &.negative{
                        color:red
                    }
                }
            }

            
        }
    }

}